{% extends 'base.html' %}
{% block title %}
<title> Admin </title>
{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center> <h1> Signed In </h1></center>
<form method="post">
        <input type="text" class="form-control" name="login" id ="login" placeholder="login"> <br>
        <input type="password" class="form-control" name="password" id ="password" placeholder="password"> <br>
        <button class="btn btn-success" type="submit">ok</button>
    </form>
{% endblock %}